.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #ffffff; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.buy-template__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.buy-template {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.buy-template {
  background: linear-gradient(45deg, #211b19, #4e3427); }

.buy-template__header {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: #ffffff; }

.buy-template__first-word {
  color: #c7b299; }

.buy-template__comment {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  color: #615855; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.company-description__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.company-description {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.company-description__container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }

.company-description {
  background-color: #fbfaf8;
  height: 50vw; }

.company-description__container {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  padding-top: 3vw;
  overflow: hidden; }

.company-description__header {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  color: #555555; }

.company-description__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  color: #8c8c8c;
  text-align: center;
  margin-top: 0;
  line-height: 2vw; }

.company-description__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 38vw; }

.company-description__container-img {
  height: 20vw; }
  .company-description__container-img:hover {
    cursor: pointer;
    -webkit-box-flex: 65%;
    -ms-flex: 65% 1 0px;
    flex: 65% 1 0;
    height: 37vw;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0; }

.company-description__img {
  width: 100%;
  margin: 0 auto; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.counters__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.counters {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.counters {
  background: linear-gradient(45deg, #211b19, #4e3427);
  height: 20vw; }

.counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  height: 17vw; }

.counter__container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 55px;
  height: 45px;
  overflow: hidden; }

.counter__data-count {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 3.5vw;
  color: #ffffff; }

.counter__underlining {
  height: 1px;
  width: 30px;
  border-bottom: 1px solid #ffffff; }

.counter__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #c7b299; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.copyright__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer, .copyright {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.footer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  background-color: #191919; }

.footer__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 1vw 0; }

.footer__about, .footer__recent-posts, .footer__out-twitter, .footer__dribbble-widget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  margin: 0 10px; }

.footer__read-more {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #d1d1d1; }
  .footer__read-more:hover {
    color: #414141; }
    .footer__read-more:hover .footer-read-more__img {
      -webkit-filter: brightness(0.5);
      filter: brightness(0.5); }

.footer-read-more__img {
  padding: 0 10px; }

.footer__header {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: 700;
  color: #ffffff; }

.footer__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #414141; }

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 20vw;
  padding: 0;
  margin: 0; }

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  height: 6vw;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .footer__item:hover .footer__link {
    color: #c7b299; }
  .footer__item:hover .footer__date {
    color: #ffffff; }

.footer__date {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: #505050; }

.footer__underlining {
  height: 1px;
  width: 100%;
  background-color: #242424; }

.footer__link--color-blue {
  color: #3398c0; }

.footer__gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap; }

.footer__img {
  width: 130px;
  height: 100px;
  margin: 2px; }

.copyright {
  background-color: #101010;
  color: #555555; }

.copyright__container {
  height: 7vw; }

.copyright__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0; }

.copyright__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.copyright__underlining {
  width: 1px;
  height: 100%;
  margin: 0 1vw;
  background-color: #252525; }

.copyright__link:hover {
  color: #3398c0; }
  .copyright__link:hover .copyright__link--color--yellow {
    color: #3398c0; }
  .copyright__link:hover .copyright__link--color--linght-gray {
    color: #3398c0; }

.copyright__link--gray {
  color: #555555; }

.copyright__link--color--linght-gray {
  color: #959595; }

.copyright__link--color--yellow {
  color: #c7b299; }

.logo--size {
  width: 100px;
  height: 30px; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.for-mobile__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.for-mobile {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.for-mobile {
  background-color: #fbfaf8;
  height: 42vw; }

.for-mobile__container {
  padding-top: 3vw; }

.for-mobile__img {
  height: 39vw; }

.for-mobile__content {
  width: 700px; }

.for-mobile__list {
  list-style-image: url(../public/arrow.png); }

.for-mobile__item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  color: #8c8c8c;
  padding: 3px 0; }

.for-mobile__header {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  color: #555555; }

.for-mobile__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  color: #8c8c8c; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.header__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  position: fixed;
  z-index: 2; }

.logo, .nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 10px; }
  .logo:hover .logo__img, .nav-menu__list:hover .logo__img, .logo:hover .logo__text, .nav-menu__list:hover .logo__text, .logo:hover .nav-menu__link:hover, .nav-menu__list:hover .nav-menu__link:hover, .logo:hover .card-header:hover, .nav-menu__list:hover .card-header:hover, .logo:hover .form-search-header:hover, .nav-menu__list:hover .form-search-header:hover {
    -webkit-filter: brightness(0.5) sepia(100%);
    filter: brightness(0.5) sepia(100%); }

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-family: 'Raleway', sans-serif;
  font-size: 2.2vw;
  font-weight: 400;
  color: #ffffff; }

.nav-menu__item {
  padding: 0 10px; }

.nav-menu__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #ffffff; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.latest-projects__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.latest-projects {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.projects__container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }

.latest-projects {
  background-color: #ffffff; }

.latest-projects__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 3vw 0; }

.latest-projects__header {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  color: #555555; }

.latest-projects__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  color: #8c8c8c;
  margin: 0 0 25px;
  text-align: center;
  line-height: 2vw; }

.filter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 0; }

.projects__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 370px;
  height: 340;
  margin: 10px; }
  .projects__item:hover {
    background-color: #352f2d; }
    .projects__item:hover .projects__img {
      opacity: 0.3; }
    .projects__item:hover .projects__search {
      display: block; }

.projects__container-img {
  width: 370px;
  height: 240px; }

.projects__header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  color: #b9a572;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0 20px; }

.projects__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.1vw;
  color: #c2b7c2; }

.projects__search {
  position: absolute;
  display: none; }

.link-img, .lupa-img {
  margin: 0 10px; }
  .link-img:hover, .lupa-img:hover {
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7); }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.partners__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.partners, .partners__background {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.partners {
  height: 40vw;
  background-image: url(../public/photo-background_2.png);
  background-size: 1500px 1000px;
  background-position: center right; }

.partners__background {
  background-color: rgba(0, 0, 0, 0.5); }

.partners__container {
  height: 40vw; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.recent-posts__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.recent-posts {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.article__container-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }

.recent-posts {
  background-color: #ffffff; }

.recent-posts__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 3vw 0; }

.recent-posts__header {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: 600;
  color: #555555; }

.recent-posts__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.4vw;
  color: #8c8c8c;
  text-align: center;
  line-height: 2vw;
  margin: 0 100px 30px; }

.articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.article {
  -ms-flex-preferred-size: 30%;
  flex-basis: 30%; }
  .article:hover {
    background-color: #352f2d;
    cursor: pointer; }
    .article:hover .article__header {
      color: #c7b299; }
    .article:hover .article__text {
      color: #ffffff; }
    .article:hover .article__img {
      opacity: 0.3; }

.article__container-img {
  position: relative;
  width: 100%;
  height: 220px; }

.article__img {
  width: 100%;
  height: 220px; }

.article-date {
  position: absolute;
  left: 0;
  top: 0;
  margin: 1vw 0 0 1vw; }

.article-date__day {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2vw;
  color: #ffffff;
  background-color: #363636;
  padding: 2px 10px 2px 10px;
  border-radius: 3px 3px 0 0; }
  .article-date__day:hover {
    background-color: #c7b199; }

.article-date__month {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1vw;
  color: #ffffff;
  background-color: #242424;
  padding: 2px 10px 2px 10px;
  border-radius: 0 0 3px 3px; }
  .article-date__month:hover {
    background-color: #a48d71; }

.article__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 1vw;
  height: 10vw; }

.article__header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.6vw;
  font-weight: 500;
  color: #606060; }

.article__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.1vw;
  color: #8c8c8c; }

.article__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.1vw;
  color: #c7b199; }
  .article__link:hover {
    color: #8c8c8c; }
    .article__link:hover .article-link__img {
      -webkit-filter: brightness(0.5);
      filter: brightness(0.5); }

.article-link__img {
  padding: 0 5px;
  -webkit-filter: sepia(50%);
  filter: sepia(50%); }

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.arrow--margin--10px {
  margin: 10px; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.services__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.services {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.services {
  background-color: #ffffff; }

.services__container {
  padding: 3vw 0; }

.services__figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 250px; }

.services__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.services__img {
  -webkit-filter: brightness(1.5);
  filter: brightness(1.5); }

.services__link {
  height: 50px; }

.services__header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.7vw;
  font-weight: 600;
  color: #555555; }

.services__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.3vw;
  color: #8c8c8c; }

.services__figure:hover .services__underlining {
  width: 8vw;
  border-bottom: 2px solid #c7b299;
  padding: 30px 0 0; }

.services__figure:hover .services__header {
  color: #c7b299; }

.services__figure:hover .services__img {
  -webkit-filter: sepia(100%);
  filter: sepia(100%); }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.slidershow__container {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slidershow, .slidershow__background {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slidershow {
  height: 55vw;
  background-image: url(../public/photo-background_1.png);
  background-size: cover;
  background-position: center top; }

.slidershow__container {
  height: 55vw;
  overflow: hidden; }

.slidershow__background {
  background-color: rgba(0, 0, 0, 0.5); }

.slidershow-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15vw; }

.main-header {
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  font-weight: 500;
  color: #ffffff;
  text-align: center; }

.main-header--size {
  font-family: 'Raleway', sans-serif;
  font-size: 5vw;
  font-weight: 800;
  color: #ffffff;
  text-align: center; }

.text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  color: #ffffff;
  margin-top: 0;
  text-align: center;
  line-height: 2vw; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .dot .dot__dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    opacity: 0.8;
    border-radius: 50%;
    margin-top: 150%; }
    .dot .dot__dot:hover {
      opacity: 0.3; }

.link {
  text-decoration: none; }

.item {
  list-style-type: none; }

.button {
  cursor: pointer;
  border-radius: 2px; }

.button-header {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2vw;
  font-weight: 800;
  color: #ffffff;
  background-color: #988574;
  padding: 10px 20px;
  -webkit-box-shadow: 1px 2px #726257;
  box-shadow: 1px 2px #726257;
  text-transform: uppercase;
  border: none; }
  .button-header:hover {
    background-color: #352f2d;
    -webkit-box-shadow: 1px 2px #241e1a;
    box-shadow: 1px 2px #241e1a; }

.button-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.2vw;
  color: #8c8c8c;
  background-color: #ffffff;
  border: 1px solid #f0ecec;
  padding: 5px 20px;
  margin: 5px;
  border-radius: 2px; }
  .button-text:hover {
    color: #ffffff;
    background-color: #998575; }

.arrow {
  cursor: pointer; }
  .arrow:hover {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5); }

.video-presentation__description {
  width: 93%;
  padding: 0 10px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.video-presentation {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.video-presentation__description {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  position: absolute; }

.video-presentation__header {
  font-family: 'Raleway', sans-serif;
  font-size: 3vw;
  font-weight: 600;
  color: #ffffff; }

.video-presentation__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 1.5vw;
  color: #ffffff;
  text-align: center;
  margin-top: 0;
  line-height: 2vw; }

.video {
  width: 100%;
  height: 50vw; }
  .video:hover {
    z-index: 1; }
