$white: #ffffff;
$gold: #c7b299;
$line-height-text: 2vw;

.link {
    text-decoration: none;
}

.item {
    list-style-type: none;
}

.button {
    cursor: pointer;
    border-radius: 2px;
}

@mixin font-text ($font-size, $color) {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: $font-size;
    color: $color;
}

@mixin font-header ($font-size, $font-weight, $color) {
    font-family: 'Raleway', sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    color: $color;
}

@mixin dot($margin-top) {
    display: flex;

    .dot__dot {
        cursor: pointer;
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbb;
        opacity: 0.8;
        border-radius: 50%;
        margin-top: $margin-top;

        &:hover {
            opacity: 0.3;
        }
    }
}
.button-header {
    @include font-header(1.2vw, 800, $white);
    background-color: #988574;
    padding: 10px 20px;
    box-shadow: 1px 2px #726257;
    text-transform: uppercase;
    border: none;

    &:hover {
        background-color: #352f2d;
        box-shadow: 1px 2px #241e1a;
    }
}

.button-text {
    @include font-text(1.2vw, #8c8c8c);
    background-color: $white;
    border: 1px solid #f0ecec;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 2px;

    &:hover {
        color: $white;
        background-color: #998575;
    }
}

.arrow {
    cursor: pointer;

    &:hover {
        filter: brightness(0.5);
    }
}

%container {
    width: 93%;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
}

%container-width {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

%container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}