@import 'index';

.buy-template {
    @extend %container-width;
    background: linear-gradient(45deg, #211b19, #4e3427);
}

.buy-template__container {
    @extend %container;
}

.buy-template__header {
    @include font-header(2vw,400,$white);
}

.buy-template__first-word {
    color: #c7b299;
}
.buy-template__comment {
    @include font-text(1.4vw,#615855);
}