@import 'index';

.company-description {
    @extend %container-width;
    background-color: #fbfaf8;  
    height: 50vw;
}

.company-description__container {
    @extend %container;
    height: 100%;
    flex-flow: column;
    padding-top: 3vw;
    overflow: hidden;
}

.company-description__header {
    @include font-header(2vw, 600, #555555);
}
.company-description__text {
    @include font-text (1.4vw, #8c8c8c);
    text-align: center;
    margin-top: 0;
    line-height: $line-height-text;
}

.company-description__gallery {
    display: flex;
    align-items: flex-end;
    height: 38vw;
}

.company-description__container-img {
    @extend %container-img;
    height: 20vw;
    &:hover {
        cursor: pointer;
        flex: 65% 1 0;
        height: 37vw;
        order: 0;
    }
}

.company-description__img{
    width: 100%;
    margin: 0 auto;
}

