@import 'index';

.counters {
    @extend %container-width;
    background: linear-gradient(45deg, #211b19, #4e3427);
    height: 20vw;
}

.counters__container {
    @extend %container;
}

.counter {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    height: 17vw;
}

.counter__container-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 45px;
    overflow: hidden;
}

.counter__data-count {
    @include font-text (3.5vw, $white);
}

.counter__underlining {
    height: 1px;
    width: 30px;
    border-bottom: 1px solid $white;
}

.counter__text {
    @include font-text(1.2vw,#c7b299);
}