@import '_index';

.footer {
    @extend %container-width;
    flex-flow: column;
    background-color: #191919;
}

.footer__container {
    width: 93%;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1vw 0;
}

.footer__about {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    flex-basis: 25%;
    margin: 0 10px;
}

.footer__read-more {
    @include font-text(1.2vw, #d1d1d1);

    &:hover {
        color: #414141;

        .footer-read-more__img {
            filter: brightness(0.5);
        }
    }
}

.footer-read-more__img {
    padding: 0 10px;
}

.footer__recent-posts {
    @extend .footer__about;
}

.footer__header {
    @include font-header(2vw, 700, $white);
}

.footer__text {
    @include font-text(1.2vw, #414141);
}

.footer__list {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 20vw;
    padding: 0;
    margin: 0;
}

.footer__item {
    display: flex;
    flex-flow: column;
    height: 6vw;
    justify-content: space-between;
    &:hover {
        .footer__link {
            color: #c7b299;
        }
        .footer__date {
            color: $white;
        }
    }
}

.footer__date {
    @include font-text(1vw, #505050);
}

.footer__underlining {
    height: 1px;
    width: 100%;
    background-color: #242424;
}

.footer__out-twitter {
    @extend .footer__about;
}

.footer__dribbble-widget {
    @extend .footer__about;
}

.footer__link--color-blue {
    color: rgb(51, 152, 192);
}

.footer__gallery {
    display: flex;
    flex-flow: wrap;
}

.footer__img {
    width: 130px;
    height: 100px;
    margin: 2px;
}

.copyright {
    @extend %container-width;
    background-color: #101010;
    color: #555555;
}

.copyright__container {
    @extend %container;
    height: 7vw;
}
.copyright__list {
    display: flex;
    padding: 0;
}

.copyright__item {
    display: flex;
} 

.copyright__underlining {
    width: 1px;
    height: 100%;
    margin: 0 1vw;
    background-color: #252525;
}
.copyright__link {
    &:hover {
        color: rgb(51, 152, 192);
        .copyright__link--color--yellow {
            color:rgb(51, 152, 192);
        }
        .copyright__link--color--linght-gray {
            color:rgb(51, 152, 192);
        }
    }
}
.copyright__link--gray {
    color: #555555;
}

.copyright__link--color--linght-gray {
    color: #959595;
}

.copyright__link--color--yellow {
    color: #c7b299;
}

.logo--size {
    width: 100px;
    height: 30px;
}