@import 'index';

.for-mobile {
    @extend %container-width;
    background-color: #fbfaf8;
    height: 42vw;
}

.for-mobile__container {
    @extend %container;
    padding-top: 3vw;
    
}

.for-mobile__img {
    height: 39vw;
}

.for-mobile__content {
    width: 700px;
}

.for-mobile__list {
    list-style-image: url(../public/arrow.png);
}

.for-mobile__item {
    @include font-text(1.4vw,#8c8c8c);
    padding: 3px 0;
}

.for-mobile__header {
    @include font-header(2vw,600, #555555);
}

.for-mobile__text {
    @include font-text(1.4vw,#8c8c8c);
}