@import "index";

.header {
    @extend %container-width;
    position: fixed;
    z-index: 2;
}

.header__container {
    @extend %container;
}

.logo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 10px;

    &:hover {
        .logo__img {
            filter: brightness(0.5) sepia(100%);
        }

        .logo__text {
            @extend .logo__img;
        }
    }
}

.logo__link {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include font-header(2.2vw, 400, $white);
}

.nav-menu__list {
    @extend .logo;
}

.nav-menu__item {
    padding: 0 10px;
}

.nav-menu__link {
    @include font-text(1.2vw, $white);

    &:hover {
        @extend .logo__img;
    }
}

.card-header {
    &:hover {
        @extend .logo__img;
    }
}

.form-search-header {
    &:hover {
        @extend .logo__img;
    }
}

