@import 'index';

.latest-projects {
    @extend %container-width;
    background-color: #ffffff;
}

.latest-projects__container {
    @extend %container;
    flex-flow: column wrap;
    padding: 3vw 0;
}

.latest-projects__header {
    @include font-header(2vw, 600, #555555);
}

.latest-projects__text {
    @include font-text(1.4vw, #8c8c8c);
    margin: 0 0 25px;
    text-align: center;
    line-height: $line-height-text;
}

.filter__button {
    display: flex;
    justify-content: center;
}

.projects__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}

.projects__item {
    display: flex;
    flex-flow: column;
    width: 370px;
    height: 340;
    margin: 10px;

    &:hover {
        background-color: #352f2d;

        .projects__img {
            opacity: 0.3;
        }
        .projects__search {
            display: block;
        }
    }
}

.projects__container-img {
    @extend %container-img;
    width: 370px;
    height: 240px;
}

.projects__header {
    @include font-header(1.6vw, 500, rgb(185, 165, 114));
    display: flex;
    flex-flow: column wrap;
    padding: 0 20px;
}

.projects__text {
    @include font-text(1.1vw, rgb(194, 183, 194));
}

.projects__search {
    position: absolute;
    display: none;
}

.link-img {
    margin: 0 10px;
    &:hover {
        filter: brightness(0.7)
    }
}

.lupa-img {
   @extend .link-img;
}

