@import '_index';

.partners {
    @extend %container-width;
    height: 40vw;
    background-image: url(../public/photo-background_2.png);
    background-size: 1500px 1000px;
    background-position: center right;

}

.partners__background {
    @extend %container-width;
    background-color: rgba(0, 0, 0, 0.5);
}

.partners__container {
    @extend %container;
    height: 40vw;
}


