@import 'index';

.recent-posts {
    @extend %container-width;
    background-color: $white;
}

.recent-posts__container {
    @extend %container;
    flex-flow: column wrap;
    padding: 3vw 0;
}

.recent-posts__header {
    @include font-header(2vw,600, #555555);
}

.recent-posts__text {
    @include font-text(1.4vw,#8c8c8c);
    text-align: center;
    line-height: $line-height-text;
    margin: 0 100px 30px;
}

.articles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.article {
    flex-basis: 30%;
    &:hover {
        background-color: #352f2d;
        cursor: pointer;
        .article__header {
            color: #c7b299;
        }
        .article__text {
            color: #ffffff;
        }
        .article__img {
            opacity: 0.3;
        }
    }
}

.article__container-img {
    position: relative;
    width: 100%;
    height: 220px;
    @extend %container-img;
}
.article__img {
    width: 100%;
    height: 220px;
}
.article-date {
    position: absolute;
    left: 0;
    top: 0;
    margin: 1vw 0 0 1vw;
}

.article-date__day {
    @include font-text(2vw,$white);
    background-color: #363636;
    padding: 2px 10px 2px 10px;
    border-radius: 3px 3px 0 0;
    &:hover {
        background-color: #c7b199;
    }
}

.article-date__month {
    @include font-text(1vw,$white);
    background-color: #242424;
    padding: 2px 10px 2px 10px;
    border-radius: 0 0 3px 3px;
    &:hover {
        background-color: #a48d71;
    }
}

.article__description {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    padding: 1vw;
    height: 10vw;   
}

.article__header {
    @include font-header(1.6vw,500,#606060);
}

.article__text {
    @include font-text(1.1vw, #8c8c8c);
}

.article__link {
    @include font-text(1.1vw, #c7b199);

    &:hover {
        color: #8c8c8c;
        .article-link__img {
            filter: brightness(0.5);
        }
    }
}

.article-link__img {
    padding: 0 5px;
    filter: sepia(50%);
}

.arrows {
    display: flex;
}
.arrow--margin--10px {
    margin: 10px;
}
