@import "index";

.services {
    @extend %container-width;
    background-color: $white;
}

.services__container {
    @extend %container;
    padding: 3vw 0;
}

.services__figure {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 250px;
}

.services__description {
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
}
.services__img {
    filter: brightness(1.5);
}

.services__link {
    height: 50px;
}

.services__header {
    @include font-header (1.7vw, 600, #555555);
}

.services__text {
    @include font-text (1.3vw, #8c8c8c);
}

.services__figure {
    &:hover {
        .services__underlining {
            width: 8vw;
            border-bottom: 2px solid #c7b299;
            padding: 30px 0 0;
        }

        .services__header {
            color: $gold;
        }

        .services__img {
            filter: sepia(100%);
        }
    }
}

