@import 'index';

.slidershow {
    @extend %container-width;
    height: 55vw;
    background-image: url(../public/photo-background_1.png);
    background-size: cover;
    background-position: center top;
}

.slidershow__container{
    @extend %container;
    height: 55vw;
    overflow: hidden;
}

.slidershow__background{
    @extend %container-width;
    background-color: rgba(0, 0, 0, 0.5);
}
.slidershow-content {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 15vw;
}
.main-header {
    @include font-header(3vw, 500,  $white);
    text-align: center;
}

.main-header--size {
    @include font-header(5vw, 800,  $white);
    text-align: center;
}

.text {
    @include font-text(1.5vw,$white);
    margin-top: 0;
    text-align: center;
    line-height: $line-height-text;
}

.arrow { 
    cursor: pointer;
    &:hover {
        filter: brightness(0.5);
    }
}

.dot {
    @include dot(150%);
}


