@import '_index';
.video-presentation {
    @extend %container-width;
}
.video-presentation__description {
    @extend %container;
    flex-flow: column;
    position: absolute;
}

.video-presentation__header {
    @include font-header(3vw, 600, $white);
}

.video-presentation__text {
    @include font-text(1.5vw, $white);
    text-align: center;
    margin-top: 0;
    line-height: $line-height-text;
}

.video {
    width: 100%;
    height: 50vw;
    &:hover {
        z-index: 1;
        }
    
}