body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #ffffff;
}

.link {
    text-decoration: none;
}

.item {
    list-style-type: none;
    padding: 0 10px;
}

.button {
    cursor: pointer;
    text-align: center;
}

.header-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
}

.text-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #8c8c8c;
}

.posts-header-font {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.posts-text-font {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

/*********************************HEADER*********************************/
.header {
    /* background: rgb(102, 102, 102);  */
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 5;
    /* opacity: 0.6; */
}

.nav-menu__list,
.logo__link,
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header__container {
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

.logo__link,
.nav-menu__list__link {
    color: #ffffff;
}

.nav-menu__list__link:hover {
    color: #c7b299;
}

.logo__text {
    font-family: 'Raleway', sans-serif;
    font-size: 34px;
    font-weight: 400;
    color: #ffffff;
}

.logo:hover .logo__link__text,
.logo:hover .logo__link__img {
    color: #c7b299;
    filter: brightness(0.8);
}

.header__card:hover,
.form-search:hover {
    filter: brightness(0.8);
}

/*******************************SLIDER*****************************************/
.slidershow {
    max-height: 700px;
    background-color: rgb(26, 25, 25);
    overflow: hidden;
    color: #ffffff;
}

.slidershow__slider__img {
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.slidershow__slider__text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
}

.main-header {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 36px;
    margin: 20px 0;
}

.main-header_font-size {
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 800;
}

.motto {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    width: 600px;
    margin-top: 0;
}

.slidershow__slider__button,
.buy-template__button,
.latest-projects__button {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: #ffffff;
    background-color: #988574;
    text-transform: uppercase;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 2px #726257;
}

.slidershow__slider__button:hover,
.buy-template__button:hover,
.latest-projects__button:hover {
    background-color: #352f2d;
}

.arrows-button-slider {
    width: 95%;
    margin: -10% 2% 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.arrows-button-slider__previous,
.arrows-button-slider__next {
    cursor: pointer;
    filter: brightness(0.8);
}

.arrows-button-slider__previous:hover,
.arrows-button-slider__next:hover {
    filter: brightness(0.1);
}

.dot {
    max-height: 300px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.dot__dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    /* display: flex; */
}

.dot__dot:hover {
    opacity: 0.3;
}

/****************************SERVICES***************************/
.services {
    background-color: #ffffff;
}

.services__container {
    display: flex;
    padding: 3% 0;
    justify-content: space-between;
    align-items: center;
    height: 350px;
}

.services__item {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
}

.services__item__description {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
}

.services__item__container__img {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__link {
    height: 250px;
}

.services__item__description__text {
    color: #8c8c8c;
    margin-top: 0;
}

.services__link:hover .services-underlining {
    margin-left: 60px;
    width: 100px;
    border-bottom: 2px solid #c7b299;
    padding: 30px 0 0;
}

.services__item__img {
    filter: brightness(1.5);
}

.services__link:hover .services__item__img,
.services__link:hover .services__item__description__head {
    filter: sepia(100%);
    color: #c7b299;
}

.services__item__description__head {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 22px;
    color: #555555;
}

/****************************COMPANY DESCRIPTION******************************/
.company-description {
    background-color: #fbfaf8;
}

.company-description__container {
    padding-top: 45px;
    flex-flow: column wrap;
    align-items: center;
}

.company-description__text {
    width: 800px;
    text-align: center;
    line-height: 25px;
    margin-top: 0;
}

.company-description__slidershow {
    display: flex;
    padding: 0;
    margin: 0;
    height: 500px;
    align-items: flex-end;
    justify-content: center;
}

.company-description__slidershow__slider {
    position: absolute;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company-description__slidershow__slider-right,
.company-description__slidershow__slider-left {
    width: 770px;
    height: 400px;
}

.company-description__slidershow__slider-left {
    left: 6%;
}

.company-description__slidershow__slider-right {
    right: 6%;
}

.company-description__slidershow__slider-center {
    z-index: 1;
    width: 770px;
    height: 480px;
}

.company-description__slidershow__slider__img:hover {
    z-index: 2;
}

/********************************BUY TEMPLATE*******************************/
.buy-template {
    background: linear-gradient(45deg, #211b19, #4e3427);
}

.buy-template__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buy-template__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #615855;
}

.buy-template__text__header {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #ffffff;
    margin: 20 0 0;
}

.buy-template__text__header__first-word {
    color: #c7b299;
}

.buy-template__text__comment {
    margin: 0 0 20px;
}

/***********************************LATEST PROJECT************************************/
.latest-projects {
    background-color: #ffffff;
}

.latest-projects__container {
    flex-flow: column wrap;
    align-items: center;
    padding: 30px 0 80px;
}

.latest-projects__text {
    margin: 0 0 25px;
    width: 800px;
    text-align: center;
    line-height: 25px;
}

.latest-projects__filter__button {
    display: flex;
    justify-content: center;
}

.latest-projects__filter__button__button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #8c8c8c;
    background-color: #ffffff;
    border: 1px solid #f0ecec;
    padding: 5px 20px;
    margin: 5px;
    border-radius: 2px;
}

.latest-projects__filter__button__button:hover {
    color: #ffffff;
    background-color: #998575;
}

.latest-projects__projects__container-img {
    width: 370px;
    height: 240px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.latest-projects__projects__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
}

.latest-projects__projects__list__item {
    width: 370px;
    height: 340;
    padding: 0;
    margin: 10px;
    overflow: hidden;
}

.latest-projects__projects__list__item:hover {
    background-color: #352f2d;
}

.latest-projects__projects__list__item:hover .latest-projects__projects__container-img__img {
    opacity: 0.3;
}

.latest-projects__projects__list__link {
    display: flex;
    flex-flow: column wrap;
}

.latest-projects__projects__description {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    box-sizing: border-box;
    height: 100px;
    padding: 20px;
    color: rgb(185, 165, 114);
}

.latest-projects__projects__description__category {
    margin: 0;
    font-size: 13px;
    color: rgb(194, 183, 194);
}

.latest-projects__link__img,
.latest-projects__lupa__img {
    margin: 0 10px;
}

.latest-projects__search {
    position: absolute;
    display: none;
}

.latest-projects__projects__list__item:hover .latest-projects__search {
    display: block;
}

/**********************************VIDEO************************************/
.video-presentation__description {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 20%;
    color: #ffffff;
}

.video-presentation__text {
    text-align: center;
    width: 800px;
    margin-top: 0;
    line-height: 25px;
}

.video-presentation__text,
.video-presentation__header {
    color: #ffffff;
}

.video {
    width: 100%;
    height: auto;
}

/**********************************FOR MOBILE******************************/
.for-mobile {
    background-color: #fbfaf8;
}

.for-mobile__container {
    justify-content: center;
    padding-top: 70px;
    color: rgb(77, 76, 76);
    align-items: center;
}

.for-mobile__img {
    height: 500px;
}

.for-mobile__content {
    width: 700px;
}

.for-mobile__content__list {
    list-style-image: url(public/arrow.png);
}

.for-mobile__content__list__item {
    padding: 3px 0;
}

.for-mobile__content__header {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
}

.for-mobile__content__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #8c8c8c;
}

/***********************************COUNTERES***********************************/
.counters {
    background: linear-gradient(45deg, #211b19, #4e3427);
    height: 300px;
    display: flex;
    align-items: center;
}

.counters__container {
    justify-content: center;
    flex-wrap: wrap;

}

.counters__item {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-bottom: 1px soloid
}

.counters__item__description {
    color: #c7b299;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 30px 0 0;
}

.counters-underlining {
    height: 1px;
    width: 30px;
    padding: 30px 0 0;
    border-bottom: 1px solid #ffffff;
}

.counters__data-count {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
}

/**********************************RECENT POSTS************************************/
.recent-posts {
    background-color: #ffffff;
}

.recent-posts__container {
    flex-flow: column wrap;
    align-items: center;
    padding: 45px 0 100px;
}

.recent-posts__item__img__img {
    width: 370px;
    height: 220px;
}

.recent-posts__header {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #555555;
}

.recent-posts__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #8c8c8c;
    text-align: center;
    margin-top: 0;
    line-height: 25px;
    margin: 0 100px 30px;
    width: 700px;
}

.recent-posts__list__item__description__header {
    color: #606060;
}

.recent-posts__list__item__description__text {
    color: #8c8c8c;
}

.recent-posts__list {
    width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    flex-basis: 400px;
}

.recent-posts__list__item {
    width: 370px;
}

.recent-posts__list__item__description {
    display: flex;
    flex-flow: column wrap;
    padding: 30px;
    height: 110px;
    justify-content: space-around;
}

.recent-posts__list__item:hover {
    background-color: #352f2d;
    cursor: pointer;
}

.recent-posts__list__item:hover .recent-posts__list__item__description__header {
    color: #c7b299;
}

.recent-posts__list__item:hover .recent-posts__list__item__description__text {
    color: #ffffff;
}

.recent-posts__read-more__img__img {
    padding: 0 5px;
}

.recent-posts__read-more {
    color: #c7b199;
    font-weight: 300;
}

.previous,
.next {
    position: absolute;
    left: 50%;
}

.arrows-button {
    display: flex;
    flex-direction: row;
}

.arrows-button__previous,
.arrows-button__next {
    margin: 30px 10px 0;
    cursor: pointer;
    filter: brightness(0.8);
}

.arrows-button__previous:hover,
.arrows-button__next:hover {
    filter: brightness(0.1);
}

.recent-posts__item__img {
    display: flex;
}

.recent-posts__date {
    position: absolute;
    margin: 10px 0 0 10px;
    border: none;
}

.recent-posts__date__day {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #ffffff;
    background-color: #363636;
    padding: 2px 10px 2px 10px;
    border-radius: 3px 3px 0 0;
}

.recent-posts__date__month {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #ffffff;
    background-color: #242424;
    padding: 2px 10px 2px 10px;
    border-radius: 0 0 3px 3px;
}

.recent-posts__list__item:hover .recent-posts__date__day {
    background-color: #c7b199;
}

.recent-posts__list__item:hover .recent-posts__date__month {
    background-color: #a48d71;
}

.recent-posts__list__item:hover .recent-posts__item__img__img {
    opacity: 0.3;
}

/**********************************PARTNERS***************************/
.partners {
    height: 490px;
    background-image: url(public/photo-background_2.png);
    background-size: 1500px 1000px;
    background-position: center right;

}

.partners__container {
    height: 490px;
    justify-content: space-around;
    align-items: center;
    z-index: 5;
}

.partners__background {
    background-color: rgba(0, 0, 0, 0.5);
}

/************************************FOOTER***************************/
.footer {
    background-color: #191919;
}

.footer__container {
    padding: 60px 0;
}

.footer__abour,
.footer__recent-posts,
.footer__out-twitter {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    flex-basis: 25%;
    padding: 0 15px;
}

.footer__dribbble-widget {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 25%;
    justify-content: space-around;
}

.footer__img {
    width: 130px;
    height: 100px;
    padding-bottom: 10px;
}

.footer__list {
    padding: 0;
}

.footer__list {
    padding: 0;
    margin: 0;
}

.footer__list__item {
    padding: 15px 0;
    margin: 0;
    border-bottom: 1px solid #242424;
}

.footer__list__item_border-bottom {
    border-bottom: 0;
}

.footer__header {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.footer__list__item_padding-top {
    padding-top: 0;
}

.footer__about__text,
.footer__recent-posts__link,
.footer__list__item {
    color: #414141;
}

.footer__read-more__img {
    padding: 0 5px;
}

.footer__read-more {
    font-weight: 400;
    color: #d1d1d1;
}

.footer__recent-posts__link:hover {
    color: #c7b299
}

.footer__recent-posts__link:hover .footer__recent-posts__date {
    color: #ffffff;
}

.footer__recent-posts__date {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: #363636;
}

.footer__out-twitter__link {
    color: rgb(51, 152, 192);
}

.copyright {
    background-color: #101010;
    color: #555555;
}

.copyright__link {
    color: #555555;
}

.copyright__container {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright__info-left__list,
.copyright__info-right__list {
    display: flex;
    padding: 0;
}

.copyright__info-left__list__item,
.copyright__info-right__list__item,
    {
    border-right: 1px solid #252525;
}

.copyright__info-left__list__item_border-right,
.copyright__info-right__list__item_border-right {
    border: 0;
}

.copyright__list__item__logo {
    color: #959595;
}

.copyright__list__item__name {
    color: #c7b299;
}